header {
  border-bottom: 1px; solid black;
}
.header-div {
  display: inline-block;
}
.header-div img {
  width: 100px;
  vertical-align: middle;
}
.header-div a {
  color: black;
  font-size: 25 px;
  text-decoration: none;
  margin: 0 50px;
}
article {
  display: inline-block;
  width: 30%;
  height: 440px;
  vertical-align: top;
  margin: 0 20px;
}
article img {
  width: 100%;
}
article .article-picture {
  height: 250px;
  overflow: hidden;
}
footer {
  background-color: gray;
  padding: 50px;
  margin-top: 30px;
}
footer p {
  color: white;
  font-size: 25px;
}
footer .picture {
  width:  30%;
}
footer .picture img {
  width: 100%;
}
footer .footer-div {
  display: inline-block;
}
footer .contact-info {
  width: 65%;
}
